/* dm log fonts */[class^="name-2m"]{
font-family: var(--dm-log-font);
color: var(--dm-log-font-color) !important;
}
/* dm log fonts selected*/ [class*="interactiveSelected"] [class^="name-2m"]{
font-family: var(--dm-log-font-selected);
color: var(--dm-log-font-selected-color) !important;
}

/* gc subtext */.subtext-14b69p{
font-family: var(--dm-log-font-subtext);
color: var(--dm-log-font-subtext-color) !important;
}

/* container */ [class^="name-3B"]{
font-family: var(--container-log-font);
font-style: var(--container-log-font-style);
color: var(--container-log-font-color) !important;
}
/* channel font */[class^="name-28"]{
font-family: var(--channel-log-font);
color: var(--channel-log-font-color) !important;}
/* channel font selected */.containerDefault-YUSmu3.selected-2TbFuo [class^="name-28"]{
font-family: var(--channel-log-font-selected) ;
font-style: var(--channel-log-font-selected-style);
color: var(--channel-log-font-selected-color) !important;
}




/* message/main text */.markup-eYLPri{
font-family: var(--text-1-font) !important;
}
/* editing-text */.editor-H2NA06{
color: var(--written-text-color) !important;
font-family: var(--written-text-font);
}
/* headers */.header-2jRmjb{
font-family: var(--header-font) !important;
}
::selection{
background-color: var(--highlighter-color);
font-family: var(--highlighted-text-font);
}
:root{
--text-selected: var(--highlighted-text-color);
--text-normal: var(--text-1-color);
--header-primary: var(--header-1-color);
--header-secondary: var(--header-2-color);
--text-muted: var(--text-2-color) !important;
}
/*coding text*/#message-content-1104246132852404317 {
font-family: var(--code-log-font) ;
font-style: var(--code-log-font-style);
color: var(--code-log-font-color) !important;
}


    /* friend's-username-highlight */.children-3xh0VB{
    border-radius: var(--dmtb-username-border-radius);
    border-color: var(--dmtb-username-border-color);
    border-width: var(--dmtb-username-border-width);
    border-style: var(--dmtb-username-border-style);
    background-color: var(--dmtb-username-highlighter); 
    }
    /* friends-username-text */.defaultColor-1EVLSt.heading-md-semibold-2h_vsp.defaultColor-1GKx81.cursorPointer-3JF56F.title-17SveM{
    color: var(--dmtb-username-text-color);    
    font-style: var(--dmtb-username-text-style); 
    font-family: var(--dmtb-username-font);
    }


    /* server-name */.lineClamp1-1voJi7.text-md-semibold-2VMhBr.name-3Uvkvr{
    border-radius: var(--server-name-border-radius);
    border-color: var(--server-name-border-color);
    border-width: var(--server-name-border-width);
    border-style: var(--server-name-border-style);
    background-color: var(--server-name-highlighter); 
    }
    /* server-name-text */.name-3Uvkvr{
    color: var(--server-name-text-color);
    font-style: var(--server-name-text-style);
    font-family: var(--server-name-font);
    }
























/* CHATBUBBLES */
/* originally Message Bubbles by Disease, 678469587444170762 */
/* Thanks to...
TheCommieAxolotl for the base code
Debuggerz1 for the math. 
Code idea and edits from Soon, by SantanaDesigns or @thaigirl. Used with permission. */

.groupStart-3Mlgv1.cozyMessage-1DWF9U>.contents-2MsGLg,
.cozyMessage-1DWF9U:not(.groupStart-3Mlgv1)>.contents-2MsGLg>.markup-eYLPri:not(:empty, .searchResultsWrap-5RVOkx *) {
    background: linear-gradient(var(--chat-bubble-background-color, var(--background-primary)), var(--chat-bubble-background-color, var(--background-primary)));
    background-size: calc(var(--chat-bubble) * 1px);
    max-width: calc(100% - ((100% - var(--chat-bubble-max-width)) * var(--chat-bubble)));
    width: fit-content;
    margin: 0;
    padding: calc(7px * var(--chat-bubble)) calc(12px * var(--chat-bubble));
    border-radius: calc(var(--chat-bubble-border-radius) * var(--chat-bubble));
    border: calc(1px * var(--chat-bubble)) solid var(--chat-bubble-border-color, var(--background-primary-border-color));
    box-shadow: var(--chat-bubble-shadow-h-offset) calc(var(--chat-bubble-shadow-v-offset) * var(--chat-bubble)) calc(var(--chat-bubble-shadow-blur) * var(--chat-bubble)) hsla(var(--chat-bubble-shadow-color-h), var(--chat-bubble-shadow-color-s), var(--chat-bubble-shadow-color-l), calc(var(--chat-bubble-shadow-color-a) * var(--chat-bubble)));
}
.cozyMessage-1DWF9U.automodMessage-265YwJ:before,
.cozyMessage-1DWF9U.ephemeral-2nDdnn:before,
.cozyMessage-1DWF9U.mentioned-Tre-dv:before,
.cozyMessage-1DWF9U.replying-eZ7p5z:before {
    width: calc(2px - (var(--chat-bubble) * 2px));
}
.groupStart-3Mlgv1.cozyMessage-1DWF9U.mentioned-Tre-dv .contents-2MsGLg,
.cozyMessage-1DWF9U.mentioned-Tre-dv:not(.groupStart-3Mlgv1) .contents-2MsGLg>.markup-eYLPri:not(:empty, .searchResultsWrap-5RVOkx *) {
    background: linear-gradient(var(--background-mentioned), var(--background-mentioned));
    background-size: calc(var(--chat-bubble) * 1px);
    border: calc(1px * var(--chat-bubble)) solid var(--info-warning-foreground);
}
.cozyMessage-1DWF9U.mentioned-Tre-dv {
    background: linear-gradient(var(--background-mentioned), var(--background-mentioned));
    background-size: calc((1 - var(--chat-bubble)) * 1px);
}
.groupStart-3Mlgv1.cozyMessage-1DWF9U.replying-eZ7p5z .contents-2MsGLg,
.cozyMessage-1DWF9U.replying-eZ7p5z:not(.groupStart-3Mlgv1) .contents-2MsGLg>.markup-eYLPri:not(:empty, .searchResultsWrap-5RVOkx *),
.groupStart-3Mlgv1.cozyMessage-1DWF9U.ephemeral-2nDdnn .contents-2MsGLg,
.cozyMessage-1DWF9U.ephemeral-2nDdnn:not(.groupStart-3Mlgv1) .contents-2MsGLg>.markup-eYLPri:not(:empty, .searchResultsWrap-5RVOkx *) {
    background: linear-gradient(var(--brand-experiment-05a), var(--brand-experiment-05a));
    background-size: calc(var(--chat-bubble) * 1px);
    border: calc(1px * var(--chat-bubble)) solid var(--brand-experiment);
}
.cozyMessage-1DWF9U.replying-eZ7p5z,
.cozyMessage-1DWF9U.ephemeral-2nDdnn {
    background: linear-gradient(var(--brand-experiment-05a), var(--brand-experiment-05a));
    background-size: calc((1 - var(--chat-bubble)) * 1px);
}
.groupStart-3Mlgv1.cozyMessage-1DWF9U.automodMessage-265YwJ .contents-2MsGLg,
.cozyMessage-1DWF9U.automodMessage-265YwJ:not(.groupStart-3Mlgv1) .contents-2MsGLg>.markup-eYLPri:not(:empty, .searchResultsWrap-5RVOkx *) {
    background: linear-gradient(var(--background-message-automod), var(--background-message-automod));
    background-size: calc(var(--chat-bubble) * 1px);
    border: calc(1px * var(--chat-bubble)) solid var(--text-danger);
}
.cozyMessage-1DWF9U.automodMessage-265YwJ {
    background: linear-gradient(var(--background-message-automod), var(--background-message-automod));
    background-size: calc((1 - var(--chat-bubble)) * 1px);
}
.groupStart-3Mlgv1.cozyMessage-1DWF9U.automodMessage-265YwJ:hover .contents-2MsGLg,
.cozyMessage-1DWF9U.automodMessage-265YwJ:not(.groupStart-3Mlgv1):hover .contents-2MsGLg>.markup-eYLPri:not(:empty, .searchResultsWrap-5RVOkx *) {
    background: linear-gradient(var(--background-message-automod-hover), var(--background-message-automod-hover));
    background-size: calc(var(--chat-bubble) * 1px);
    border: calc(1px * var(--chat-bubble)) solid var(--text-danger);
}
.cozyMessage-1DWF9U.automodMessage-265YwJ:hover {
    background: linear-gradient(var(--background-message-automod-hover), var(--background-message-automod-hover));
    background-size: calc((1 - var(--chat-bubble)) * 1px);
}
.groupStart-3Mlgv1.cozyMessage-1DWF9U>.contents-2MsGLg .markup-eYLPri code,
.cozyMessage-1DWF9U:not(.groupStart-3Mlgv1)>.contents-2MsGLg>.markup-eYLPri:not(:empty, .searchResultsWrap-5RVOkx *) code {
    background: linear-gradient(var(--chat-bubble-code-background-color), var(--chat-bubble-code-background-color));
    background-color: var(--background-secondary);
    background-size: calc(var(--chat-bubble) * 1px);
}
.markup-eYLPri blockquote, .markup-eYLPri pre {
    max-width: 100%;
}
